[submodule "opengl"]
	path = opengl
	url = git@github.com:jai-toolbox/opengl.git
[submodule "linear_algebra"]
	path = linear_algebra
	url = git@github.com:jai-toolbox/linear_algebra.git
[submodule "turns"]
	path = turns
	url = git@github.com:jai-toolbox/turns.git
[submodule "geometry"]
	path = geometry
	url = git@github.com:jai-toolbox/geometry.git
[submodule "camera"]
	path = camera
	url = git@github.com:jai-toolbox/camera.git
[submodule "movement"]
	path = movement
	url = git@github.com:jai-toolbox/movement.git
[submodule "network"]
	path = network
	url = git@github.com:jai-toolbox/network.git
[submodule "serialize"]
	path = serialize
	url = git@github.com:jai-toolbox/serialize.git
[submodule "time"]
	path = time
	url = git@github.com:jai-toolbox/time.git
[submodule "model_loading"]
	path = model_loading
	url = git@github.com:jai-toolbox/model_loading.git
[submodule "collision"]
	path = collision
	url = git@github.com:jai-toolbox/collision.git
[submodule "rectangle"]
	path = rectangle
	url = git@github.com:jai-toolbox/rectangle.git
[submodule "engine"]
	path = engine
	url = git@github.com:jai-toolbox/engine.git
[submodule "math"]
	path = math
	url = git@github.com:jai-toolbox/math.git
[submodule "temporal_binary_switch"]
	path = temporal_binary_switch
	url = git@github.com:jai-toolbox/temporal_binary_switch.git
[submodule "networked_interpolator"]
	path = networked_interpolator
	url = git@github.com:jai-toolbox/networked_interpolator.git
[submodule "configuration"]
	path = configuration
	url = git@github.com:jai-toolbox/configuration.git
[submodule "circular_array"]
	path = circular_array
	url = git@github.com:jai-toolbox/circular_array.git
[submodule "physics"]
	path = physics
	url = git@github.com:jai-toolbox/physics.git
[submodule "frame_profiler"]
	path = frame_profiler
	url = git@github.com:jai-toolbox/frame_profiler.git
[submodule "section_logger"]
	path = section_logger
	url = git@github.com:jai-toolbox/section_logger.git
[submodule "texture_packing"]
	path = texture_packing
	url = git@github.com:jai-toolbox/texture_packing.git
[submodule "json"]
	path = json
	url = git@github.com:jai-toolbox/json.git
[submodule "light_baker"]
	path = light_baker
	url = git@github.com:jai-toolbox/light_baker.git
[submodule "light_baking"]
	path = light_baking
	url = git@github.com:jai-toolbox/light_baking.git
[submodule "random"]
	path = random
	url = git@github.com:jai-toolbox/random.git
[submodule "hash_table"]
	path = hash_table
	url = git@github.com:jai-toolbox/hash_table.git
[submodule "ui"]
	path = ui
	url = git@github.com:jai-toolbox/ui.git
[submodule "programming"]
	path = programming
	url = git@github.com:jai-toolbox/programming.git
[submodule "arena"]
	path = arena
	url = git@github.com:jai-toolbox/arena.git
[submodule "assets"]
	path = assets
	url = git@github.com:jai-toolbox/assets.git
[submodule "uv_unwrapping"]
	path = uv_unwrapping
	url = git@github.com:jai-toolbox/uv_unwrapping.git
